{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 text-center">

    <h1 class="mb-4">Como funciona?</h1>

    <div class="row">

        <div class="col-md-4">
            <h5>1. Inscrição</h5>
            <p>Você preenche o formulário</p>
        </div>

        <div class="col-md-4">
            <h5>2. Avaliação</h5>
            <p>Analisamos seu perfil</p>
        </div>

        <div class="col-md-4">
            <h5>3. Contato</h5>
            <p>Entramos em contato</p>
        </div>

    </div>

</div>

{% endblock %}